<div class="container my-5">
  <h1 class="mb-3">Task Details</h1>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <form #form="ngForm">
              <div class="mb-3">
                <label for="Id" class="form-label">Id: {{taskDetails.id}}</label>
              </div>
              <div class="mb-3">
                <label for="Title" class="form-label">Title: {{taskDetails.title}}</label>
              </div>
              <div class="mb-3">
                <label for="TaskDetails" class="form-label">Description: {{taskDetails.description}}</label>
              </div>
              <div class="mb-3">
                <label for="dueDate" class="form-label">Due Date: {{taskDetails.dueDate}}</label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   