<div class="container">
<h1>Tasks List</h1>
<button routerLink="/tasks-form" class="task-btn">Add</button>
<table class="table" *ngIf="tasks && tasks.length > 0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate }}</td>

      <td><button [routerLink]="['/tasks-form','edit',task.id ]" class="btn btn-primary">Update</button></td>
      <td><button [routerLink]="['/tasks',task.id ]" class="btn btn-info">Task Details</button></td>
      <td><button [routerLink]="['/tasks','delete',task.id ]" class="btn btn-danger">Delete</button></td>

    </tr>
  </tbody>
</table>
<p *ngIf="!tasks || tasks.length <=0">No Tasks Found</p>






